In [1]:
import pandas as pd

In [2]:
import wget
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
url ="https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/misc"

In [9]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-01-24 22:00:30--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.136.184, 54.231.137.176, 52.216.57.200, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.136.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-01-24 22:00:31 (33.2 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [10]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [11]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265